.mbsyoutube-frame {
    width: 100%
}

.mbsyoutube-ytiframe {
    padding: 0;
}

.mbsyoutube-responsive .mbsyoutube-responsive-item,
.mbsyoutube-responsive iframe,
.mbsyoutube-responsive embed,
.mbsyoutube-responsive object,
.mbsyoutube-responsive video {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    border: 0;
}

.mbsyoutube-responsive {
    position: relative;
    display: block;
    height: 0;
    padding: 0;
    overflow: hidden;
}

.mbsyoutube-responsive-16by9 {
    padding-bottom: 56%;
}

.mbsyoutube-link {
    font-size: 14px;
}

.mbsyoutube-twoclickwarning-button {
    display: inline-block;
    padding: 5px 10px;
    background: #e62117 !important;
    color: #fff !important;
    text-decoration: none !important;
    border-radius: 3px;
    font-weight: normal;
    border-width: 0;
    box-sizing: border-box;
    cursor: pointer;
}

.mbsyoutube-twoclickwarning-buttonbox {
    margin-top: 35px;
    text-align: center;
}

.mbsyoutube-twoclickwarning-boxtext {
    color: #e3e3e3 !important;
    margin-top: 20px;
    padding: 25px;
}

.mbsyoutube-twoclickwarning-wrapper {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: #000;
    background-image: url('theme/mebis/pix/bg-dark.jpg');
    background-repeat: repeat;

    text-align: left;
}

@media only screen and (max-width: 650px){
    .mbsyoutube-twoclickwarning-wrapper {
        min-height: 250px;
    }

    .mbsyoutube-twoclickwarning-boxtext {
        color: #e3e3e3 !important;
        text-align: center;
        margin-top: 0px;
        padding: 10px;
    }
}

.mbsyoutube-status-wrapper {
    padding-top: 30px;
    text-align: center;
}

.mbsyoutube-img-logo {
    padding-top: 40px;
    padding-bottom: 20px;
}

.mbsyoutube-bar-overlay{
    position:absolute;
    bottom:49px;
    left:0;
    width:100%;
    height:555px;
    opacity:0.5;
    z-index:50;
}

.mbsyoutube-type-audio {
    padding: 45px;
}


/* Rendering YouTube two click solution in messages area. --- Beginning */
.mbsyoutube-message-show {
        display: none;
}

div.message>div>.mbsyoutube-twoclickwarning-wrapper {
    min-height: 230px;
}

div.message>div>.mbsyoutube-twoclickwarning-wrapper>.mbsyoutube-twoclickwarning-buttonbox>.mbsyoutube-message-hidden {
    display: none;
}

div.message>div>.mbsyoutube-twoclickwarning-wrapper>.mbsyoutube-twoclickwarning-buttonbox>.mbsyoutube-message-show {
    display: block;
}

div.message>div>.mbsyoutube-twoclickwarning-wrapper>.mbsyoutube-twoclickwarning-boxtext {
    color: #e3e3e3 !important;
    text-align: center;
    margin-top: 0px;
    padding: 10px;
}
/* Rendering YouTube two click solution in messages area. --- End */