.mbsembed-frame {
    width: 100%
}

.mbsembed-ytiframe {
    padding: 0;
}

.mbsembed-responsive .mbsembed-responsive-item,
.mbsembed-responsive iframe,
.mbsembed-responsive embed,
.mbsembed-responsive object,
.mbsembed-responsive video {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    border: 0;
}

.mbsembed-responsive {
    position: relative;
    display: block;
    height: 0;
    padding: 0;
    overflow: hidden;
}

.mbsembed-responsive-16by9 {
    padding-bottom: 56%;
}

.mbsembed-link {
    font-size: 14px;
}

.mbsembed-twoclickwarning-button {
    display: inline-block;
    padding: 5px 10px;
    background: #e62117 !important;
    color: #fff !important;
    text-decoration: none !important;
    border-radius: 3px;
    font-weight: normal;
    border-width: 0;
    box-sizing: border-box;
    cursor: pointer;
}

.mbsembed-twoclickwarning-buttonbox {
    margin-top: 35px;
    text-align: center;
}

.mbsembed-twoclickwarning-boxtext {
    color: #e3e3e3 !important;
    margin-top: 20px;
    padding: 25px;
}

.mbsembed-twoclickwarning-wrapper {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: #000;
    background-image: url('theme/mebis/pix/bg-dark.jpg');
    background-repeat: repeat;

    text-align: left;
}

.mbsembed-status-wrapper {
    padding-top: 30px;
    text-align: center;
}

.mbsembed-img-logo {
    padding-top: 40px;
    padding-bottom: 20px;
}

.mbsembed-bar-overlay{
    position:absolute;
    bottom:49px;
    left:0;
    width:100%;
    height:555px;
    opacity:0.5;
    z-index:50;
}

.mbsembed-type-audio {
    padding: 45px;
}
